<div class="row" style="background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20220506/pngtree-3d-background-podium-cylinder-to-show-cosmetic-product-template-image_1295703.jpg'); min-height: 80vh;">
    <div class="col-md-5">
        <app-recipe-list 
        (recipeWasSelected)="selectedRecipe = $event"></app-recipe-list>
    </div>
    <div class="col-md-7">
        <app-recipe-detail 
        *ngIf="selectedRecipe; else infoText" 
        [recipe]="selectedRecipe"></app-recipe-detail>
        <ng-template #infoText>
            <p>Please select a Recipe!</p>
        </ng-template>
    </div>
</div>